@use 'variables';

.header{
    position: sticky;
    top: 0;
    left: 0;
    background-color: variables.$bgColor;
    transition: background-color .8s all ease;
    z-index: 1;

    @media(max-width: 768px){
        background-color: transparent;

        &__logo, &__links__item:first-child{
            visibility: hidden;
            background-color: transparent;    
        }
    }

    &--is-hidden{
        background-color: transparent;
        transition: background-color .8s all ease;

        .header{
            &__logo, &__links__item:first-child{
                opacity: 0;
                visibility: hidden;
                transition: opacity .8s all ease;   
            }
        }  
    }

    &__container{
        padding: 8px 36px;
        display: flex;
        justify-content: space-between;

        @media(max-width: 768px){
            padding: 0 12px 0 12px;
        }
    }

    &__logo{
        max-width: 80px;
        width: 100%;
        margin: 5px;
        transition: opacity .8s all ease;

        @media(max-width: 768px){
            max-width: 64px;
        }
    }

    &__links{
        display: flex;
        list-style: none;

        &__item{
            margin: 5px;
            transition: opacity .8s all ease;
        }
    }

    .button{
        height: 50px;

        @media(max-width: 768px){
            font-size: 13px;
            padding: 8px 11px;
            height: 40px;
            letter-spacing: 0;
        }
    }
}